body{
    position:absolute;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    margin: 0;
    padding: 0;  
}
header{
    background-image: url("images/interstella.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px;
    padding-top: 10px;
    text-align: center;
    color: rgb(231, 224, 224);
}
header h1{
    margin: 0;
    font-weight: bolder;
}
nav{
    position: fixed;
    list-style-type: none;
    padding-bottom: 50px;
    font-weight: bolder;
}
nav ul li{
    display: inline;
    margin: 0 1px;
    font-size: 30px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 20px;
    
}
nav ul li a:hover,
nav ul li a.active{
    transition: 0.3s ease-in-out;
    transform: scale(1.5);
    background-color: rgb(167, 151, 151);
    border-radius: 45px;
    
}
main{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}


/*Designing the boxes*/
.myfilms{
    height: 200px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 85px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
.sub{
    display: flex;
    padding: 10px;
    margin: 0;
    font-size:50px;
    font-weight: bolder;
    justify-content: center;
    background-color: burlywood;
}
.myfilms img{
    margin-right: 20px;
    padding: 0;
    width: 200px;
    height: 200px;
    border: double solid burlywood ;
    border-radius: 25%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.myfilms img:hover{
    transform: scale(1.5);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.myfilms button img{
    margin: -10px;
    padding: 10px;
    width: 60px;
    height: 60px;
    border-radius: 25px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
button:hover{
    color: rgb(252, 156, 156);
    background-color: rgb(228, 225, 225);
}
.mytext{
    display:inline-block;
    margin: 0;
    padding: 1px;
    padding-left: 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(2, 2, 2);
}
.footer{
    margin: 0;
    padding: 0;
    display:flex;
    background-color: #333;
    color: #fff;
    text-align: center;
}
.social{
    display: inline-block;
    margin: 0 50px;
}
.social img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.social img:hover{
    transform: scale(2.5);
    width: 200px;
    padding-bottom: 40px;
}
@media(max-width: 700px){
    body{
        overflow:auto;
        font-family: 'Courier New', Courier, monospace;
        font-size: smaller;
        width: auto;
        height: 100%;
    }
    body{
        position: relative;
    }
    header{
        padding: 40px;
        padding-top: 10px;
        text-align: left;
        color: rgb(246, 241, 241);
        text-align: center;
        background-color: rgb(227, 136, 25);
    }
    header h1{
        margin: 0;
        font-weight: bolder;
    }
    #title{
        margin: 0;
    }
    
    #menu{
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: inline;
        
    }
    #menu li {
        font-weight: bolder;
        font-size: 20px;
    }
    #menu li a{
        color: rgb(255, 250, 250);
        text-decoration: none;
        padding: 5px 10px;
    }
    .borderline{
        padding: 3px;
        margin: 40px;
        color: rgb(243, 240, 240);
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
    }
    .sub{
        display: flex;
        padding: 5px;
        margin: 0;
        font-size:large;
        font-weight: bolder;
        justify-content: center;
        background-color: burlywood;
    }
    .myfilms img{
        margin-right: 5px;
        padding-left: 0;
        width: 90px;
        height: 80px;
        border: double solid burlywood ;
        border-radius: 25%;
    }
    .mytext{
        display:inline-block;
        margin: 0;
        padding: 0;
        padding-left: 10px;
        text-decoration: none;
        font-size: 10px;
        font-weight: bolder;
    }
    .mytext h3{
        padding-top: 5px;
        font-size: 25px;
        font-weight: bolder;
        text-wrap: break-word;
    }
    .mytext h4{
        padding-top: 0;
        font-size: 12px;
        font-weight: bolder;
        text-wrap: break-word;
    }
    .mytext h5{
        padding: 0;
        font-size: 10px;
        font-weight: bolder;
        text-wrap: break-word;   
    }
    .footer{
        margin: 0;
        padding: 30px;
        padding-left: 0px;
        display:flex;
        background-color: #333;
        color: #fff;
        text-align: center;
    }
    .social{
        display: inline-block;
        margin: 0 15px;
    }
    .social img {
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    
}